.all {
    display: flex;
    justify-content: center;
}

.displayModule {
    background-color: #c2ffa6;
    margin-right: 10pt;
    padding: 5pt 5pt 5pt 5pt;
}

.display {
    background-color: #73caff;
    width: 100px;
}

.settingsModule {
    background-color: #dbb3ff;
    padding: 5pt 5pt 5pt 5pt;
    align-content: center;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}